@baseSize: 1px;

@borderRadius: 4 * @baseSize;
@strokeWidth:6 * @baseSize;
@strokeStyle: @strokeWidth solid #000000;

@truckWidth: 100 * @baseSize;
@truckHeight: 70 * @baseSize;
@truckHeadHeight: 22 * @baseSize;
@truckBodyHeight: 45 * @baseSize;
@truckWheelWidth: 11 * @baseSize;
@truckWheelHeight: 11 * @baseSize;

@keyframes shake-big {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-15%);
  }
  20% {
    transform: translateY(10%);
  }
  30% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake-small {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-3%);
  }
  20% {
    transform: translateY(3%);
  }
  30% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.container {
  width: @truckWidth;
  height: @truckHeight;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  p.desc {
    font-family: Arial;
    font-weight: bold;
    white-space: nowrap;
    text-indent: -48px;
    margin-top: 35px;
  }
}

.mail {
  width: 80 * @baseSize;
  height: 50 * @baseSize;
  background-color: #ffffff;
  border: @strokeStyle;
  border-radius: @borderRadius;
  position: absolute;
  top: 0px;
  left: -10 * @baseSize;
  animation: shake-big 1s infinite;

  &:before, &:after {
    width: 50 * @baseSize;
    border-top: @strokeStyle;
    content: '';
    display: block;
  }
  &:before {
    transform: rotate(30deg) translate(0, 11*@baseSize);
  }
  &:after {
    transform: rotate(-30deg) translate(27*@baseSize, 20*@baseSize);
  }
}

.truck {
  width: @truckWidth;
  height: @truckHeight;
  position: relative;
  animation: shake-small 1s infinite;
  -webkit-animation-delay: 0.1s;

  .head, .body, .wheel, .window {
    border: @strokeStyle;
    background-color: #ffffff;
  }

  .head {
    width: @truckWidth;
    border-top-right-radius: @truckHeadHeight;
    height: @truckHeadHeight - @strokeWidth;
  }

  .window {
    width: 10 * @baseSize;
    height: @truckHeadHeight - @strokeWidth;
    position: absolute;
    border-bottom-left-radius: @borderRadius;
    border-right: none;
    right: -@strokeWidth;
    top: @truckHeadHeight;
  }

  .body {
    width: @truckWidth;
    height: @truckBodyHeight;
    border-radius: 0 0 @borderRadius @borderRadius;
    border-top: none;
    position: relative;
  }

  .wheel {
    width: @truckWheelWidth;
    height: @truckWheelHeight;
    border-radius: 50%;
    position: absolute;
    bottom: -@truckWheelHeight/2 - @strokeWidth*2;
    animation: shake-big 1s infinite;

    &:nth-child(2n+1) {
      left: 20%;
      -webkit-animation-delay: 150ms;
    }

    &:nth-child(2n) {
      left: 75%;
      -webkit-animation-delay: 200ms;
    }
  }
}